{% extends 'base_simplificada.html' %}
{% block title %}Organização Administrativa{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{{ url_for('main.home') }}" class="btn btn-outline-primary">Início</a>
        <h4 class="m-0">Organização Administrativa</h4>
        <a href="{{ url_for('main.logout') }}" class="btn btn-outline-danger">Sair</a>
    </div>

    <!-- Navegação por abas -->
    <ul class="nav nav-tabs mb-3" id="organizacaoTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="nd-tab" data-bs-toggle="tab" data-bs-target="#nd" type="button" role="tab">Natureza de Despesa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="grupo-tab" data-bs-toggle="tab" data-bs-target="#grupo" type="button" role="tab">Grupos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ul-tab" data-bs-toggle="tab" data-bs-target="#ul" type="button" role="tab">Unidades Locais</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="local-tab" data-bs-toggle="tab" data-bs-target="#local" type="button" role="tab">Locais</button>
        </li>
    </ul>

    <div class="tab-content" id="organizacaoTabsContent">
        <div class="tab-pane fade show active" id="nd" role="tabpanel">
            {% include 'partials/nd/lista_nd.html' %}
        </div>
        <div class="tab-pane fade" id="grupo" role="tabpanel">
            {% include 'partials/grupo/lista_grupo.html' %}
        </div>
        <div class="tab-pane fade" id="ul" role="tabpanel">
            {% include 'partials/ul/lista_ul.html' %}
        </div>
        <div class="tab-pane fade" id="local" role="tabpanel">
            {% include 'lista_locais.html' %}
        </div>
    </div>
</div>
{% endblock %}
