<div class="d-flex justify-content-between align-items-center mb-3">
  <h5 class="mb-0 text-primary">Unidades Locais</h5>
  <a href="{{ url_for('area_ul_bp.novo_ul') }}" class="btn btn-outline-success btn-sm">
    <i class="bi bi-plus-circle"></i> Nova UL
  </a>
</div>

<table class="table table-bordered table-striped table-sm">
  <thead class="table-dark">
    <tr>
      <th style="width: 20%;">Código</th>
      <th style="width: 50%;">Descrição</th>
      <th style="width: 20%;">Área</th>
      <th style="width: 10%;" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for ul in uls %}
    <tr>
      <td>{{ ul.codigo }}</td>
      <td>{{ ul.descricao }}</td>
      <td>{{ ul.local.descricao }}</td>
      <td class="text-center">
        <a href="{{ url_for('area_ul_bp.editar_ul', id=ul.id) }}" class="btn btn-sm btn-outline-primary">
          <i class="bi bi-pencil"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>