<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Almoxarifado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('nd.lista_nd') }}">NDs</a></li>
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block conteudo %}{% endblock %}
    </div>
</body>
</html>
