{% extends 'base_simplificada.html' %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Bem-vindo, {{ usuario.nome }}!</h2>

    <div class="mb-4 d-flex flex-wrap gap-2">
        <a href="{{ url_for('main.home') }}" class="btn btn-outline-primary">Início</a>
        <button class="btn btn-outline-secondary" disabled>Relatórios</button>
        <button class="btn btn-outline-secondary" disabled>Cadastro de Apoio</button>
        <a href="https://linktr.ee/ctaa.sps" target="_blank" class="btn btn-outline-info">Linktree CTAA - SPS</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <a href="{{ url_for('item_bp.lista_itens') }}" class="btn btn-outline-success w-100 py-4 fs-5">Itens</a>
        </div>
        <div class="col">
            <a href="{{ url_for('estoque_bp.lista_estoque') }}" class="btn btn-outline-primary w-100 py-4 fs-5">Estoque</a>
        </div>
        <div class="col">
            <a href="{{ url_for('fornecedor_bp.lista_fornecedor') }}" class="btn btn-outline-warning w-100 py-4 fs-5">Fornecedores</a>
        </div>
        <div class="col">
            <a href="{{ url_for('usuario_bp.lista_usuario') }}" class="btn btn-outline-dark w-100 py-4 fs-5">Usuários</a>
        </div>
        <div class="col">
            <a href="{{ url_for('area_ul_bp.lista_uls') }}" class="btn btn-outline-secondary w-100 py-4 fs-5">ULs</a>
        </div>
        <div class="col">
            <a href="{{ url_for('area_ul_bp.lista_locais') }}" class="btn btn-outline-secondary w-100 py-4 fs-5">Locais</a>
        </div>
    </div>
</div>
{% endblock %}