{% extends 'base.html' %}

{% block conteudo %}
    <h2>{{ 'Editar ND' if nd else 'Nova ND' }}</h2>

    <form method="POST">
        <div>
            <label for="numero">Número da ND:</label>
            <input type="text" id="numero" name="numero" value="{{ nd.numero if nd else '' }}" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" value="{{ nd.descricao if nd else '' }}" required>
        </div>
        <div style="margin-top: 10px;">
            <button type="submit">Salvar</button>
            <a href="{{ url_for('nd.lista_nd') }}">Cancelar</a>
        </div>
    </form>
{% endblock %}
