{% extends "base.html" %}
{% block title %}Início - Almoxarifado{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Sistema de Almoxarifado</h1>
        <p class="col-md-8 fs-4">Sistema para controle de estoque e requisições de materiais.</p>
        <p>Bem-vindo, {{ current_user.nome }}!</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                Naturezas de Despesa
            </div>
            <div class="card-body">
                <h5 class="card-title">Gerenciar Naturezas de Despesa</h5>
                <p class="card-text">Cadastre e gerencie as Naturezas de Despesa do sistema.</p>
                <a href="/naturezas_despesa" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                Itens
            </div>
            <div class="card-body">
                <h5 class="card-title">Gerenciar Itens</h5>
                <p class="card-text">Cadastre e gerencie os Itens do sistema, vinculados às Naturezas de Despesa.</p>
                <a href="/itens" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
