{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="mt-4">Lista de Estoque</h2>
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-hover">
                    <thead class="table-success">
                        <tr>
                            <th>Item</th>
                            <th>Fornecedor</th>
                            <th>Nota Fiscal</th>
                            <th>Valor Unitário</th>
                            <th>Quantidade</th>
                            <th>Local</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estoque in estoques %}
                        <tr>
                            <td>{{ estoque.item.codigo }} - {{ estoque.item.nome }}</td>
                            <td>{{ estoque.fornecedor }}</td>
                            <td>{{ estoque.nota_fiscal }}</td>
                            <td>R$ {{ estoque.valor_unitario }}</td>
                            <td>{{ estoque.quantidade }}</td>
                            <td>{{ estoque.local }}</td>
                            <td>R$ {{ estoque.valor_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ url_for('estoque.novo_estoque') }}" class="btn btn-primary mt-3">Cadastrar Novo Estoque</a>
            <a href="{{ url_for('main.dashboard') }}" class="btn btn-secondary mt-3">Voltar ao Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
