{% extends 'base.html' %}

{% block conteudo %}
    <h1>Lista de Naturezas de Despesa (NDs)</h1>

    <a href="{{ url_for('nd.cadastrar_nd') }}" class="btn btn-success mb-2">Nova ND</a>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for nd in nds %}
                <tr>
                    <td>{{ nd.id }}</td>
                    <td>{{ nd.codigo }}</td>
                    <td>{{ nd.descricao }}</td>
                    <td>
                        <a href="{{ url_for('nd.editar_nd', id=nd.id) }}">Editar</a>|
                        <a href="{{ url_for('nd.excluir_nd', nd_id=nd.id) }}" onclick="return confirm('Tem certeza que deseja excluir esta ND?')">Excluir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nenhuma ND cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
