<!-- templates/nova_area.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4">Cadastrar Novo Local</h2>
            <form method="POST">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do Local</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
